
<div class="col-md-2"></div>
<div class="col-md-8 center edit-profile">
	<h2 id="edit-profile-h2">EDIT PROFILE</h2>
	<div class="edit-profile-form">
						
		<% flash.each do |k, v| %>
		  <h4 id="<%= k %>"><%= v %></h4>
		<% end %>

		<%= render partial: "form", locals: {user: @user} %>
	</div>
</div>		
<div class="col-md-2"></div>