<!-- show.html.erb -->
<h1>Show User Route/Saved Query</h1>

<div>Start Address: <%= @price_query.start_address  %></div>
<div>Start latitude: <%= @price_query.start_latitude  %></div>
<div>Start longitude: <%= @price_query.start_longitude  %></div>
