<div class="col-md-2"></div>
<div class="col-md-8 center">

  <h1>About</h1>
  <p>Surge Protector allows users save their most-traveled Uber routes and track surge pricing over time.</p>

</div>
<div class="col-md-2"></div>