<div class="col-md-2"></div>
<div class="col-md-8 center about">

  <h1>About</h1>
  <p>Surge Protector allows users save their most-traveled Uber routes and track surge pricing over time.</p>

  <div class="contributors">
    <h3>Contributors</h3>

    <table>
      <tr>
        <td><img class="contributor-img" src="https://avatars3.githubusercontent.com/u/7623974?v=2&s=400" ></td>
        <td>
          <h5>Kevin Chou</h5>
          <p><a href="https://github.com/PAUCHOU" target="_blank">See Kevin's work</a></p>
        </td>
      </tr>

      <tr>
        <td><img class="contributor-img" src="https://avatars2.githubusercontent.com/u/7833470?v=2&s=400" ></td>
        <td>
          <h5>Cameron Jacoby</h5>
          <p><a href="https://github.com/cameronjacoby" target="_blank">See Cameron's work</a></p>
        </td>
      </tr>

      <tr>
        <span>
        <td><img class="contributor-img" src="https://avatars3.githubusercontent.com/u/7118348?v=2&s=400" ></td>
        <td>
          <h5>Alex Shevchenko</h5>
          <p><a href="https://github.com/alexshev91" target="_blank">See Alex's work</a></p>
        </td>
        <span>
      </tr>

      <tr>
        <td><img class="contributor-img" src="https://avatars2.githubusercontent.com/u/7121497?v=2&s=400" ></td>
        <td>
          <h5>Lisa Vogt</h5>
          <p><a href="https://github.com/lisavogtsf" target="_blank">See Lisa's work</a></p>
        </td>
      </tr>
    </table>

  </div>
</div>
<div class="col-md-2"></div>