<div class="col-sm-3 left-side">

  <% flash.each do |k, v| %>
    <h4 id="<%= k %>"><%= v %></h4>
  <% end %>

  <h1 id="display_city"></h1>
  <div id="clockbox"></div>

  <form action="/search" method="post" id="get-surge">

    <select class="form-control options" id="city">
      <option>Select City</option>
      <% @cities.each do |city| %>
        <option><%= city %></option>
      <% end %>
    </select>

    <select class="form-control options" id="day">
      <option>Select Day of the Week</option>
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
      <option>Sunday</option>
    </select>

    <select class="form-control options" id="uber-type">
      <option>Select Uber Type</option>
      <% @uber_types.each do |uber_type| %>
        <option><%= uber_type %></option>
      <% end %>
      <option>All Uber Types</option>
    </select>

    <input type="submit" value="Get Surge Data", class="btn btn-default">

  </form>


<div class="col-sm-9 right-side">
  <div class="no-data">No surge data matches selected filters.</div>
  <canvas id="myChart" width="800" height="400"></canvas>
</div>
