<div class="col-md-3 left-side">
  <h1>Current City</h1>
  <p>current date and time</p>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Select City <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">San Francisco</a></li>
          <li><a href="#">New York City</a></li>
          <li><a href="#">Los Angeles</a></li>
          <li><a href="#">Hong Kong</a></li>
          <li><a href="#">Seattle</a></li>
        </ul>
    </div>    
    <br/><br/>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Select Day of the Week <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Monday</a></li>
        <li><a href="#">Tuesday</a></li>
        <li><a href="#">Wednesday</a></li>
        <li><a href="#">Thursday</a></li>
        <li><a href="#">Friday</a></li>
        <li><a href="#">Saturday</a></li>
        <li><a href="#">Sunday</a></li>
      </ul>
    </div>
    <br/><br/>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Select Uber Type<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">uberX</a></li>
        <li><a href="#">uberXL</a></li>
        <li><a href="#">UberBLACK</a></li>
        <li><a href="#">UberSUV</a></li>
        <li><a href="#">UberTAXI</a></li>
      </ul>
    </div>
    <br/><br/>


  <form action="/search" method="post">
<!--   <div class="form-group">
    <input type="text" name="city", class="form-control", placeholder="City">
  </div>
  <div class="form-group">
    <input type="text" name="day", class="form-control", placeholder="Day of Week" >
  </div> -->
  <div class="form-group">
    <input type="text" name="location", class="form-control", placeholder="Enter Location" >
  </div>

  <%= token_tag form_authenticity_token %>

    <input type="submit" value: "Get Surge Data", class="btn btn-default">
  </form>
  
</div>
<div class="col-md-9 center"></div>


