.queries-container {
  border-top: 1px solid #000;
  margin-top: 30px;
}

.query {
  cursor: default;
  margin-top: 30px;
}

.result {
  display: inline-block;
  height: 15px;
  margin-right: -4px;
}

.uber-type, .surge, .estimate, .time {
  display: none;
}

.details {
  display: none;
  padding: 10px;
  margin: 0;
  width: 175px;
}

.details .uber-type, .details .surge, .details .estimate, .details .time {
  display: block;
}