/*styles for price_queries index*/

.queries-container {
  border-top: 1px solid #000;
  margin-top: 30px;
}

.query {
  cursor: default;
  margin-top: 30px;
}

.result {
  display: inline-block;
  height: 15px;
  margin-right: -4px;
}

.uber-type, .surge, .estimate, .time {
  display: none;
}

.details {
  display: none;
  padding: 10px;
  margin: 0;
  width: 175px;
}

.details .uber-type, .details .surge, .details .estimate, .details .time {
  display: block;
}


/*styles for price_queries show page*/

.days-container {
  border-top: 1px solid #000;
  margin-top: 30px;
}

.day {
  cursor: default;
  margin-top: 30px;
}

.hour {
  display: none;
}

.chart div {
  background-color: #5C53EE;
  color: #FFF;
  margin-top: 10px;
  text-align: right;
  padding-right: 5px;
}